.env
*.env
*.local
*.log
*.sqlite3
*.db
*.sqlite
*.db3
*.db-journal
*.db-shm
*.db-wal
*.DS_Store
*.egg-info/
.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
content.json
ranked_videos.csv